# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ==========================================
# DEPENDENCIES
# ==========================================
/node_modules


# ==========================================
# ELECTRON BUILDER
# ==========================================
dist/
release/
out/


# ==========================================
# PHP PORTABLE
# No se suben los binarios a Git,
# pero sí se incluyen en el instalador
# ==========================================
php/


# ==========================================
# TEMPORARY FILES
# ==========================================
*.log
*.tmp


# ==========================================
# OPERATING SYSTEM
# ==========================================
.DS_Store
Thumbs.db


# ==========================================
# ENVIRONMENT
# ==========================================
.env
.env.local
.env*


# ==========================================
# NEXT.JS
# ==========================================
/.next/
/out/


# ==========================================
# PRODUCTION
# ==========================================
/build


# ==========================================
# DEBUG
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# ==========================================
# VERCEL
# ==========================================
.vercel


# ==========================================
# TYPESCRIPT
# ==========================================
*.tsbuildinfo
next-env.d.ts


# ==========================================
# IDE
# ==========================================
.vscode/
.idea/